.Spinner {
  padding: 0 20px 20px 20px;
  min-height: 260px;

  .spinner-container {
    position: relative;

    .spinner-logo {
      position: absolute;
      width: 100px;
      left: 60px;
      top: 40px;
    }

    .loading-spinner {
      width: 220px;
      height: 220px;
      border-radius: 50%;
      border: 10px solid black;
      border-color: #000000 #ff5256 #f9ed52 #3c72bf;
      margin-top: 10vmin;
      animation: spinner-animation 1.5s linear infinite;
    }
  }
}

@keyframes spinner-animation {
  to {
    transform: rotate(360deg);
  }
}
